@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

* {
  box-sizing: border-box;
  margin: 0px;
  font-family: Calibri, sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
.App {
  text-align: center;
}

/*burger-menu*/
.menu-con {
  position: absolute;
  left: 18%;
}
.menu-icon {
  display: none;
  position: fixed;
  left: 92%;
}
menu {
  width: 100%;
  position: fixed;
  top: 10%;
  left: 0%;
}
/*navbar*/

.navbar-con {
  height: 60px;
  box-shadow: 0 4px 8px #cecbcb;
}
.navbar {
  display: flex;
  align-items: center;
  padding-left: 25px;
  height: 60px;
}
.navbar-links {
  color: #19a8b3;
  transition: ease-in-out 0.3s;
}
.navbar-links:hover {
  text-decoration: underline;
  color: aliceblue;
}
.options {
  display: flex;
  width: 75%;
  justify-content: space-evenly;
}
.hover {
  border: 1px solid darkslategray;
  padding: 0px 23px;
  border-radius: 15px;
  display: flex;
  align-items: center;

  transition: ease-in-out 0.3s;
}

/*Edit*/
.edit-all {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}
.edit-con {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  margin-top: 50px;
}
.input-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 26px;
  align-items: center;
}
.bg-img {
  width: 300px;
  height: 420px;
  background-position: center;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0 4px 8px #cecbcb;
}
.bg-img h3 {
  width: 207px;
}
input {
  width: 350px;
  height: 46px;
  padding: 30px;
  border-radius: 41px;
  border: none;
  box-shadow: 0 4px 8px #cecbcb;
}
.message {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Dancing Script", cursive;
}
.options h3 {
  cursor: pointer;
}
.voucher {
  background-color: darkslategray;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 75%;
  border-radius: 31px;
}
.voucher:hover {
  background-color: aliceblue;
  color: darkslategray;
  border: 1px solid darkslategray;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}
/*gift images*/
.temp-img-con {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 65px;
  gap: 102px;
  padding: 60px;
  padding-top: 0px;
}

/*HOME*/

.splash-con {
  height: 100vh;
  display: flex;
}
.splash-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.splash-text {
  color: aliceblue;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-size: xx-large;
}
.splash-btn {
  display: flex;
  align-items: end;
  justify-content: center;
  padding: 8px;
  border: 1px solid aliceblue;
  color: #19a8b3;
  gap: 10px;
  border-radius: 10px;
  transition: ease-in-out 0.3s;
}
.splash-btn:hover {
  background-color: aliceblue;
  color: #19a8b3;
  cursor: pointer;
}
.home-menu {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  position: fixed;
  left: 74%;
  top: 6%;
  background-color: rgb(240 248 255 / 3%);
  padding: 15px;
  width: 26%;
  box-shadow: -1px 2px 10px;
}

/*recorder*/
.voice-recorder_maincontainer {
  width: 300px;
}
.hover:hover {
  background-color: darkslategray;
  color: aliceblue;
}
.temps-img {
  transition: ease-in-out 0.3s;
  height: 400px;
}
.temps-img:hover {
  transform: translateY(-10px);
}

/*Toggle controller*/

.controllers {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-top: 40px;
}
.input-entry {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}
.controller-con {
  display: none;
}

/*Swiper*/

.swiper-img-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: aliceblue;
  box-shadow: inset #cecbcb 0px 2px 6px 0px;
}
.brand-logo {
  width: 160px;
}

/*Media Queries*/

.container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.menu {
  width: 100%;
  position: fixed;
  top: 8%;
  left: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px #cecbcb;
}
/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
  .temps-img {
    height: 300px;
  }
  .splash-img img {
    height: 460px;
  }
  .splash-text {
    font-size: x-large;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }

  .temps-img {
    height: 300px;
  }
  .input-con {
    display: none;
  }
  .edit-con {
    flex-direction: column;
  }
  .voucher {
    width: 10rem;
  }
  .controller-con {
    display: block;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
  .navbar {
    font-size: 0.9rem;
  }
  .splash-con {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .splash-img img {
    height: 370px;
  }
  .splash-text {
    font-size: large;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
  .menu-icon {
    display: block;
  }
  .options {
    z-index: 2;
    display: none;
  }
  .splash-img img {
    height: 350px;
  }
  .splash-text {
    font-size: 15px;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
  .splash-img img {
    height: 320px;
  }
  .splash-text {
    font-size: 12px;
  }
}
